<ion-header>
  <ion-toolbar>
    <ion-title>Documentación Necesaria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>Realizar depósito para estudio legal y avaluó en la entidad solicitada.</li>
    <li>Disponibilidad de agua y luz del lote.</li>
    <li>Plano visado (municipal y de construcción).</li>
    <li>Certificación de impuestos.</li>
    <li>Hoja de cotizante o no cotizante de la CCSS (documento se obtiene en línea al ingresar a la cuenta de CCSS virtual, pedir contraseña en su centro médico cercano).</li>
    <li>Copia de la cedula de los mayores de edad.</li>
    <br />
    <li>Constancia de nacimiento de hijos.</li>
    <li>Constancia de ingreso salarial.</li>
    <li>Reporte de ingreso de la CCSS.</li>
    <li>Constancia de estado civil o declaración jurada de separado de hecho o unión libre (debe de tener más de tres años de convivencia).</li>
    <li>Certificación histórica de propiedades de los mayores de edad en el núcleo familiar (se obtiene en línea, por lo que la empresa puede obtenerla. Tiene un costo de ₡2,700).</li>
    <li><h4>CONCOMPRA DE LOTE:</h4></li>
    <li>Opción de compra y venta por un mínimo de 6 meses (se lo elabora la empresa).</li>
    <li>Copia de la cédula del vendedor.</li>
    <li>Copia de la escritura.</li>
    <li>Disponibilidad de agua y de luz (si es por medio de pozo, se debe realizar prueba de potabilidad)</li>
  </ul>
</ion-content>
