<ion-app>
	<ion-menu side="start" menuId="first" contentId="main">
		<ion-header>
			<ion-toolbar color="primary">
				<ion-menu-toggle>
					<ion-title [routerLink]="['']">Inicio</ion-title>
				</ion-menu-toggle>
			</ion-toolbar>
		</ion-header>

		<ion-content>
			<ion-menu-toggle>
				<ion-item button [routerLink]="['products']">Products</ion-item>
			</ion-menu-toggle>
			<ion-menu-toggle>
				<ion-item >Contacto</ion-item>
			</ion-menu-toggle>
		</ion-content>
	</ion-menu>

	<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
