<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Contructora Pura Vida</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
	<ion-content>
		
	<!-- <div id="container"> -->
		<ion-slides pager="true" [options]="slideOptsOne" class="slide-full" autoplay="true" (click)="goToProjectDetails()">
			<ion-slide *ngFor="let slide of slides" >
				<ion-card >
					<ion-img [src]="slide.img"></ion-img>
					<ion-card-header>
						<ion-card-title> {{slide.title}} </ion-card-title>
						<ion-label>{{slide.desc}}</ion-label>
					</ion-card-header> 

				</ion-card>
			</ion-slide>     
		</ion-slides>
		<ion-card (click)="goToRequirements()">
			<ion-card-header>
			  <!-- <ion-card-subtitle>Requisitos</ion-card-subtitle> -->
			  <ion-card-title class="cls-tittle">Requisitos</ion-card-title>
			</ion-card-header>
		  
			<ion-card-content>
				<ion-list>
					<ion-item>
						<ion-icon name="water-outline"></ion-icon>
					  	<ion-label>Disponibilidad de agua y luz del lote.</ion-label>
					</ion-item>
					<ion-item>
						<ion-icon name="document-text-outline"></ion-icon>
					  	<ion-label>Certificación de impuestos.</ion-label>
					</ion-item>
					<ion-item>
						<ion-icon name="document-text-outline"></ion-icon>
					  	<ion-label>Hoja de cotizante o no cotizante de la CCSS</ion-label>
					</ion-item>
					<ion-item>
						<ion-icon name="copy-outline"></ion-icon>
					  	<ion-label>Copia de la cedula de los mayores de edad.</ion-label>
					</ion-item>
					<ion-item>
						<ion-icon name="cash-outline"></ion-icon>
					  	<ion-label>Constancia de ingreso salarial.</ion-label>
					</ion-item>
				  </ion-list>			
			</ion-card-content>
		</ion-card>	
		<ion-slides pager="true" class="slide-full" [options]="slideOptsOne" >
			<ion-slide *ngFor="let slide of models" >
				<ion-card >
					<ion-img [src]="slide.img"></ion-img>
					<ion-card-header>
						<ion-card-title> {{slide.title}} </ion-card-title>
						<ion-label>{{slide.desc}}</ion-label>
					</ion-card-header> 
				</ion-card>
			</ion-slide>     
		</ion-slides>
		<ion-card (click)="goToRequirements()">
			<ion-card-header>
			  <!-- <ion-card-subtitle>Requisitos</ion-card-subtitle> -->
			  <ion-card-title class="cls-tittle">Quienes somos</ion-card-title>
			</ion-card-header>
		  
			<ion-card-content>
				<ion-list>
					<ion-item>
					  <ion-label><b>Misión:</b> Ayudar al pueblo costarricense a construir su casa propia</ion-label>
					</ion-item>
					<ion-item>
					  <ion-label><b>Visión:</b> Lograr que los costarricenses tengan casa propia.</ion-label>
					</ion-item>
					<ion-item>
					  <ion-label><b>Ubicación:</b>Limón, Pococí, Guápiles ...</ion-label>
					</ion-item>
					<ion-item>
					  <ion-label><b>Tel.</b> 2710-0000</ion-label>
					</ion-item>
					<ion-item id="social-container">
						<div class="social-icons">
							<ion-icon class="i-facebook" name="logo-facebook"></ion-icon>
						</div> 
						<div class="social-icons">
							<ion-icon class="i-instagram" name="logo-instagram"></ion-icon>
						</div>
						<div class="social-icons">
							<ion-icon class="i-twitter" name="logo-twitter"></ion-icon>
						</div>
					</ion-item>
				  </ion-list>			
			</ion-card-content>
		</ion-card>	
	<!-- </div> -->
</ion-content>