<ion-header [translucent]="true">
    <ion-slides pager="true" class="slide-full" autoplay="true" >
      <ion-slide *ngFor="let slide of slides" >
          <ion-card >
            <img  [src]="slide.img">
            <ion-card-header>
              <ion-card-title>
              {{slide.title}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{slide.desc}}
            </ion-card-content>
          </ion-card>
      </ion-slide>     
    </ion-slides>
</ion-header>

<ion-content>
  <div id="container">
	<ion-card button="true">
		<ion-card-header>
			<ion-icon name="book-outline"></ion-icon>
			<h1>Requisitos/Información:</h1>
			
		</ion-card-header>
		<ion-card-content>
			Disponibilidad de agua y luz del lote
		</ion-card-content>
	</ion-card>
  
  </div>
  
</ion-content>
